@use'../../styles/base' as *;

/* upload.js 서식 */
.upload {
  background: $main-white;

  .grid {
    padding: 80px 0;

    .col-6 {
      grid-column: 4 / span 6;
    }
  }

  /* 상단 타이틀 부분 */
  .upload_header {
    //padding-top: 100px;
    margin-bottom: 48px;

    p {
      @include typo("headingMd", $regular);
      color: $main_gray_500;
    }
  }

  /* 드래그 앤 드롭 존 영역 */
  .upload_dropzone {
    position: relative;
    border: 2px dashed $main_gray_300;
    border-radius: 16px;
    padding: 48px 24px;
    text-align: center;
    background-color: $main_gray_50;
    cursor: pointer;
    transition: border-color 0;

    .upload_dropzoneInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .upload_icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $bg-b;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 40px;
        }
      }

      .upload_dropText {
        font-size: 16px;
        color: #333;

        .strong {
          font-weight: 600;
          margin-right: 4px;
        }
      }

      .upload_dropHint {
        @include typo("bodytextMd");
        color: $main_gray_400;
      }
    }

    .upload_file {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  /* 폼 서식   */
  .upload_form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .upload_field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .upload_label {
    @include typo("headingSm", $bold);
  }

  .upload_input,
  .upload_textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    border: none;
    border-radius: 10px;
    @include typo("bodytextXl", $regular);
    @include neumorphism-shadow;

    &::placeholder {
      @include typo("bodytextXl", $regular);
      color: $main_gray_400;
    }
  }

  .upload_input:focus,
  .upload_textarea:focus {
    outline: none;
    border-color: $main_gray_900;
  }

  .upload_textarea {
    resize: none;
  }

  /* 문제 유형 선택 */
  .upload_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .upload_counter {
    @include typo ("bodytextSm");
    color: $main_gray_300;
  }

  .upload_helper {
    @include typo ('bodytextLg', $regular);
    color: $primary_blue;
  }

  .upload_issueBox {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .upload_issueGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .upload_groupTitle {
    @include typo ('bodytextLg', $regular);
    color: $main_gray_400;
  }

  .upload_chips {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .upload_chip {
    @include btn("sm", "custome");
    @include sns-shadow;
    border: none;
    transition: 0.3s;
  }

  .upload_chip:hover {
    background-color: $bg-b;
  }

  .upload_chip.active {
    background: $primary_blue;
    color: $main-white;

  }

  /* 하단 안내박스 */
  .upload_note {
    padding: 24px;
    border-radius: 16px;
    background: $main_gray_100;
  }

  .upload_noteTitle {
    @include typo ('bodytextMd', $bold);
    padding-bottom: 10px;
  }

  .upload_noteText {
    @include typo ('bodytextMd', $regular);
  }

  /* 다음 버튼  */
  .upload_next {
    @include btn("lg", "primary", "false");
    border: none;
    width: 100%;
    background: $primary_blue;
    color: $main-white;
    @include typo ("bodytextLg", $medium);
    cursor: pointer;
    transition: 0.2s;
  }

  .upload_next:hover {
    background: $primary_blue;
    filter: brightness(1.2);
  }
}

@media screen and (min-width: 1440px) {
  .upload {

    .grid {
      .col-6 {
        grid-column: 4 / span 6;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .upload {
    .grid {
      .col-6 {
        grid-column: 3 / span 8;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .upload {
    .grid {
      .col-6 {
        grid-column: 2 / span 6;
      }
    }

    .upload_header p {@include typo("headingSm", $regular);}
  }
}

@media screen and (max-width: 767px) {
  .upload {
    // .upload_header{
    //   padding-top: 50px;
    // }
    .grid {
      .col-6 {
        grid-column: 1 / span 4;
      }
    }

    .upload_header p {
      
    }
  }
}