@use '../../styles/base.scss' as *;

// 기본: 데스크탑에서는 안 보임
.tabbar {
  display: none;
}

// 모바일 전용
@media (max-width: 767px) {
  .tabbar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $main_gray_100;
    z-index: 100;

    .tab-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: $main_gray_800;
      text-decoration: none;

      img {
        width: 28px;
        height: 28px;
        margin-bottom: 4px;
        transition: all 0.3s ease;
      }

      span {
        font-weight: 500;
        font-size: 14px;
        color: $main_gray_500;
        transition: color 0.3s ease;
      }

      &.active {
        
        
        span {
          color: $primary_pink;
        }

        // 아이콘 색상 변경 (SVG 필터 적용)
        img {
          filter: invert(56%) sepia(54%) saturate(488%) hue-rotate(308deg) brightness(100%) contrast(101%);
        }
      }
    }

    // 유저 탭바 (업로드 버튼 스타일)
    &.user {
      .upload {
        position: relative;
        top: -42px; // 탭바 위로 돌출
        width: 52px;
        height: 52px;
        padding: 19px;
        border-radius: 50%;
        background: $primary_pink;

        // 중앙 정렬
        display: flex;
        justify-content: center;
        align-items: center;

        // 그림자 및 입체감
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

        img {
          width: 28px;
          height: 28px;
          margin-bottom: 0;
          filter: brightness(0) invert(1); // 아이콘 흰색으로
        }

        span {
          position: absolute;
          bottom: -22px; // 텍스트 위치 하단으로 조정         
          white-space: nowrap;
        }
      }
    }
  }
}
